<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harpreet Kaur</title>
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body></body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B4F8C8;">
    <a class="navbar-brand" href="/">Harpreet Kaur</a>

<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/list">List</a>
        <a class="nav-item nav-link" href="/table">Table</a>
        <a class="nav-item nav-link active" href="/audio">Audio<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/video">Video</a>
        <a class="nav-item nav-link" href="/items">Items</a>
    </div>
</div>
</nav>
    <h1>Welcome to the Audio Page</h1>
        
        <div class="media">
            <img class="mr-3">
            <audio controls>
                <source 
                src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.mp3" 
                type="audio/mpeg">
            </audio></img>
            <div class="media-body">
              <h5 class="mt-0">My Audio</h5>
              This is an audio file attached to this page.
            </div>
          </div>
</body>
</html>