<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harpreet Kaur</title>
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B4F8C8;">
        <a class="navbar-brand" href="/">Harpreet Kaur</a>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/list">List</a>
            <a class="nav-item nav-link" href="/table">Table</a>
            <a class="nav-item nav-link" href="/audio">Audio</a>
            <a class="nav-item nav-link" href="/video">Video</a>
            <a class="nav-item nav-link" href="/items">Items</a>
        </div>
    </div>
    </nav>
    <div class="jumbotron">
        <h1 class="display-4">Home Page</h1>
        <p class="lead">Welcome to my website, I will be demonstrating HTML5 principles and techniques, Routing in Express.</p>
        <hr class="my-4">
        <header class="h3">My experience</header>
        <p class="lead">My experience with this course so far has been amazing. I am learning so many cool new things. I am learning HTML, CSS, JavaScript, NodeJS, Express etc. I am very happy with the course.</p>
        <header class="h3">HTML5</header>
        <p class="lead">This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web.</p>
    </div>
</body>
</html>