<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harpreet Kaur</title>
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B4F8C8;">
        <a class="navbar-brand" href="/">Harpreet Kaur</a>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link active" href="/list">List<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/table">Table</a>
            <a class="nav-item nav-link" href="/audio">Audio</a>
            <a class="nav-item nav-link" href="/video">Video</a>
            <a class="nav-item nav-link" href="/items">Items</a>
        </div>
    </div>
    </nav>
    <h1>Welcome to the List Page</h1>
    <header>My info</header>
    <p>My name is Harpreet Kaur. My student ID is 162196216. The date is 13-Oct-2022. My course is Web322.</p>
    <header>Lists</header>
    <ul class="list-group">
        <ol>
            <li class="list-group-item list-group-item-primary"><h2>Ordered List (Healthy food)</h2></li>
            <li class="list-group-item list-group-item-secondary">Avocado sandwich</li>
            <li class="list-group-item list-group-item-success">Egg toast</li>
            <li class="list-group-item list-group-item-danger">Tofu salad</li>
        </ol>
        <ul>
            <li class="list-group-item list-group-item-primary"><h2>Unorderd List (Vitamin types)</h2></li>
            <li class="list-group-item list-group-item-secondary">A</li>
            <li class="list-group-item list-group-item-success">B12</li>
            <li class="list-group-item list-group-item-danger">C</li>
            <li class="list-group-item list-group-item-info">D</li>
        </ul>
    </ul>
</body>
</html>