<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harpreet Kaur</title>
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <style>
        body{
            padding: 2rem 0rem;
        }
        .card-img-overlay {
            background-color: rgba(#000, 0.4);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B4F8C8;">
        <a class="navbar-brand" href="/">Harpreet Kaur</a>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link" href="/list">List</a>
            <a class="nav-item nav-link" href="/table">Table</a>
            <a class="nav-item nav-link" href="/audio">Audio</a>
            <a class="nav-item nav-link" href="/video">Video</a>
            <a class="nav-item nav-link active" href="/items">Items<span class="sr-only">(current)</span></a>
        </div>
    </div>
    </nav>
    <div class="jumbotron">
        <h1 class="display-4">Storefront Page</h1>
        <p class="lead">Welcome to items page. This is the list of items below.</p>
        <hr class="my-4">
        <p>Suggestions are welcome</p>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card">
               <img class="card-img" src="images/tea1.jpeg" alt="Black Tea" height="500" width="700">
              <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                <h4 class="card-title">Black Tea</h4>
                <h6 class="card-subtitle mb-2">From $18.00</h6>
                <p class="card-text">Black tea is withered, fully oxidized and dried. 
                    Black tea commonly yields a hearty, amber-colored brew. 
                    Some of the most popular types of black teas are bold breakfast teas 
                    (e.g. English Breakfast, Irish Breakfast) and Darjeelings.</p>
              </div>
            </div>
            <div class="card">
                <img class="card-img" src="images/tea2.jpeg" alt="Green Tea" height="500" width="700">
               <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                 <h4 class="card-title">Green Tea</h4>
                 <h6 class="card-subtitle mb-2">From $20.00</h6>
                 <p class="card-text">Green tea production endeavors to avoid the oxidation of the tea leaves, 
                    in order to retain its natural green color and fresh flavor. 
                    In Japan, the leaves are steamed, while other countries will pan-fire 
                    or dry it through other methods.</p>
               </div>
             </div>
             <div class="card">
                <img class="card-img" src="images/tea3.jpeg" alt="Oolong Tea" height="500" width="700">
               <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                 <h4 class="card-title">Oolong Tea</h4>
                 <h6 class="card-subtitle mb-2">From $22.00</h6>
                 <p class="card-text">Oolong tea is produced mainly in China and Taiwan and is only partially 
                    oxidized. This type of tea can range from tasting similar to a 
                    fresh green tea, The flavor can vary widely, depending on where the 
                    tea leaves are grown and how the tea is made.</p>
               </div>
             </div>
             <div class="card">
                <img class="card-img" src="images/tea4.jpeg" alt="White Tea" height="500" width="700">
               <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                 <h4 class="card-title">White Tea</h4>
                 <h6 class="card-subtitle mb-2">From $19.00</h6>
                 <p class="card-text">Originally from China, white tea is simply withered and dried, 
                    causing a very light oxidation. Its flavor is most similar to that of 
                    green tea, but is usually more creamy, soft and sweet.</p>
               </div>
             </div>
             <div class="card">
                <img class="card-img" src="images/tea5.jpeg" alt="Pu-erh Tea" height="500" width="700">
               <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                 <h4 class="card-title">Pu-erh Tea</h4>
                 <h6 class="card-subtitle mb-2">From $21.00</h6>
                 <p class="card-text">Pu-erh (also spelled pu'er) comes exclusively from China and is famous 
                    for its distinctively earthy flavor. Pu-erh is tea that has been 
                    fermented, often stored underground for several years. 
                    Traditionally, pu-erh is compressed into round cakes and can be very 
                    expensive.</p>
               </div>
             </div>
             <div class="card">
                <img class="card-img" src="images/tea6.jpeg" alt="Yellow Tea" height="500" width="700">
               <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                 <h4 class="card-title">Yellow Tea</h4>
                 <h6 class="card-subtitle mb-2">From $20.00</h6>
                 <p class="card-text">Yellow tea is the rarest type of tea. It is similarly processed to green 
                    tea, but is more slowly dried to make the leaves take on a yellow color. 
                    The taste of the tea is mild, often described as being somewhere between 
                    white and green tea.</p>
               </div>
             </div>
             <div class="card">
                <img class="card-img" src="images/tea7.jpeg" alt="Herbal Infusions" height="500" width="700">
               <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                 <h4 class="card-title">Herbal Infusions</h4>
                 <h6 class="card-subtitle mb-2">From $17.00</h6>
                 <p class="card-text">Tea is not to be confused with herbal infusions. While herbal tea or 
                    infusions are packaged like tea, infused like tea and enjoyed like tea, 
                    they actually do not contain any tea leaves.</p>
               </div>
             </div>
             <div class="card">
                <img class="card-img" src="images/tea8.jpeg" alt="Herbal Tea" height="500" width="700">
               <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                 <h4 class="card-title">Herbal Tea</h4>
                 <h6 class="card-subtitle mb-2">From $15.00</h6>
                 <p class="card-text">Herbal tea is simply the combination of boiling water and botanicals 
                    like fruits, flowers, barks, herbs, mints, spices, roots, berries and seeds.</p>
               </div>
             </div>
             <div class="card">
                <img class="card-img" src="images/tea9.jpeg" alt="Yerba Mate & Guayusa" height="500" width="700">
               <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                 <h4 class="card-title">Yerba Mate & Guayusa</h4>
                 <h6 class="card-subtitle mb-2">From $25.00</h6>
                 <p class="card-text">Yerba Mate and Guayusa are naturally caffeinated herbal infusions from 
                    South America. They are treasured for their unique balance of caffeine 
                    and smooth, energizing effect. Yerba Mate is herbaceous, vegetal and 
                    grassy with a bittersweet flavor, while Guayusa has an earthy, rich, 
                    naturally smooth taste and a slightly sweet finish.</p>
               </div>
             </div>
             <div class="card">
                <img class="card-img" src="images/tea10.jpeg" alt="Orange Tea" height="500" width="700">
               <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                 <h4 class="card-title">Orange Tea</h4>
                 <h6 class="card-subtitle mb-2">From $22.00</h6>
                 <p class="card-text">Many people new to the world of tea are most familiar with orange tea. 
                    You can find orange tea in name-brand teabags at the grocery store like 
                    Lipton or Tetley. Popular breakfast blends like English Breakfast and Irish 
                    Breakfast are other examples of orange tea. Orange teas tend to be 
                    relatively high in caffeine, with about half as much caffeine as a cup of 
                    coffee.</p>
               </div>
             </div>
          </div>
        </div>
      </div>
</body>
</html>