<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harpreet Kaur</title>
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B4F8C8;">
    <a class="navbar-brand" href="/">Harpreet Kaur</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/list">List</a>
          <a class="nav-item nav-link active" href="/table">Table<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/audio">Audio</a>
          <a class="nav-item nav-link" href="/video">Video</a>
          <a class="nav-item nav-link" href="/items">Items</a>
      </div>
    </div>
  </nav>
    <h1>Welcome to the Table Page</h1>
    <header class="h2">Table 1</header>
    <table class="table table-hover">
        <caption></caption>
        <thead>
          <tr class="table-primary">
            <th scope="col">Course</th>
            <th scope="col">Month</th>
            <th scope="col">Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-success">
            <td rowspan="2">Web development</td>
            <td>January</td>
            <td>A</td>
          </tr>
          <tr class="table-warning">
            <td>Testing</td>
            <td>February</td>
            <td>A+</td>
          </tr>
          <tr class="table-info">
            <td>Cloud computing</td>
            <td>March</td>
            <td>B</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>Seneca</td>
            <td>Web322</td>
            <td>A</td>
          </tr>
        </tfoot>
      </table>
    <header class="h2">Table 2</header>
    <table class="table table-hover">
        <caption></caption>
        <thead>
            <tr>
                <th colspan="2" scope="col">Name</th>
                <th scope="col">Age</th>
              </tr>
        </thead>
        <tbody>
            <tr>
                <td>Harpreet</td>
                <td>Kaur</td>
                <td>22</td>
              </tr>
              <tr>
                <td>Kuljeet</td>
                <td>Kaur</td>
                <td>20</td>
              </tr>
              <tr>
                <td>Jane</td>
                <td>Doe</td>
                <td>25</td>
              </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>First name</td>
            <td>Last name</td>
            <td>Age</td>
          </tr>
        </tfoot>
      </table>
    <p>The first table is about different courses and grades. The second table is about me and my friends.</p>
</body>
</html>
